html {
    font-family: Helvetica, sans-serif;
    color: white;
    background-image: url(AJBYoWDmgsV86b.jpeg);
}
 h1 {
color: white;
}

h2, ul {
font-size: 30px;
color: black;
line-height: 20;
}

h3 {
    color:rgb(4, 58, 4);
    font-size: 60px;
}

p {
color:rgb(4, 58, 4);
}